<!DOCTYPE html>
<html>

<head>
    <title>Books</title>
</head>

<body>

    <h2>Book List</h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Available</th>
        </tr>

        {% for book in books %}
        <tr>
            <td>{{ book['id'] }}</td>
            <td>{{ book['title'] }}</td>
            <td>{{ book['author'] }}</td>
            <td>{{ book['available'] }}</td>
        </tr>
        {% endfor %}

    </table>
    <a href="{{ url_for('dashboard') }}">Back</a>

</body>

</html>